html{
   font-size: 13px;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.navbar{
   height: calc(100vh - 100px);
   width: 200px;
   background-color: black;
   float: left;
   color: grey;
}

.n-top{
   height: 90%;
   padding-top: 20px;
   min-height: 400px;
}

.n-top li{
   padding-left: 20px;
}

.n-top .nav-utility:not(.personal) li:first-child{
   border-left: 2px solid #ADFF2F;
}


.n-top > img{
   width: 150px;
   margin-bottom: 30px;
   padding-left: 20px;
}
.n-top > h4{
   color:white;
   margin-top: 20px;
   padding-left: 20px;
}

.n-top .add{
   width: 30px;
   height: 30px;
   background-color: grey;
   text-align: center;
   line-height: 30px;
   display: inline-block;
   margin-right: 5px;
}

.n-top i{
 color: black;
}

.playlist{
   margin: 10px 0;
   padding-left: 20px;
}

.nav-utility img{
   width: 25px;
   margin-bottom: 10px;
   vertical-align: middle;
}

.nav-utility a{
   text-decoration: none;
   color: grey;
   font-weight: bold;
   margin-left: 5px;
}

.navbar ul{
   list-style-type: none;
}

.nav-utility.personal li{
   margin-bottom: 15px;
}

.n-bottom{
   height: 10%;
   padding-left: 20px;
   overflow: hidden;
}

.n-bottom .install{
   border-bottom: 1px solid grey;
   margin-right: 20px;
   padding-bottom: 10px;
}
.n-bottom .install img{
   width: 15px;
   margin-right: 5px;
}



.nav-utility.personal a{
   margin-left: 0;
}

.n-bottom img{
   width: 20px;
   vertical-align: middle;
}

.profile{
   margin-top: 10px;
   color:white;
}

.profile img{
   background-color: grey;
   border-radius: 50%;
   margin-right: 5px;
}

.jumbotron{
   height: calc(100vh - 100px);
   width: calc(100vw - 200px);
   background-color: #141922;
   float: left;
}

main::after{
   content: '';
   display: table;
   clear: both;
}

.j-top{
  height: 100px;
  width: calc(100vw - 200px);
  background-color: black;
  position: fixed;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.upgrade{
  border: 2px solid #949598;
  padding: 10px 30px;
  border-radius: 15px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.j-bottom{
  height: calc(100vh - 100px);
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 120px 20px 20px 20px;
}

.j-bottom .j-top-nav {
   list-style-type: none;
   text-align: center;
   margin-bottom: 30px;
}

.j-bottom .j-top-nav li{
   display: inline-block;
   margin-right: 15px;
}

.j-bottom .j-top-nav a{
   text-decoration: none;
   color: grey;
   font-weight: bold;
   margin-left: 5px;
}

.highlight{
   border: 1px solid #ADFF2F;
   width: 30px;
   margin: 0 auto;
}

.j-bottom h1{
   font-size: 25px;
}

.j-bottom h2{
   font-size: 18px;
}

.j-bottom h1,h2{
   color: white;
}

.j-bottom h3{
   color: grey;
}

.collection{
   list-style-type: none;
   margin: 30px 0;
   display: flex;
}

.collection img{
   width: 100%;
}

.collection li{
   display: inline-block;
   flex-basis: calc(100% / 6);
}

.collection li:not(:first-child){
   margin-left: 10px;
}

.music-info {
   text-align: center;
   margin-top: 10px;
}

/*Se in responsive le classi collection e suggestions mantengono lo stesso funzionamento ricordarsi di usarne solo una*/

.suggestions{
   list-style-type: none;
   margin: 30px 0;
   display: flex;
}

.suggestions img{
   width: 100%;
}

.suggestions li{
   display: inline-block;
   flex-basis: calc(100% / 6);
}

.suggestions li:not(:first-child){
   margin-left: 10px;
}

.j-bottom  h3{
   margin-top: 5px;
}
/* end */

.artists img{
   border-radius: 50%;
}




  .music-utility{
   height: 100px;
   width: 100vw;
   background-color: red;
   position: fixed;

}
